footer {
    padding-bottom: 3rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 59, 80);
    color: #fff;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
}

footer h3{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: orangered;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    white-space: nowrap;
}

.contact {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1rem;
}